// Стили хедера

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0.8;
  border-bottom: 1px solid #ececec;

  background: linear-gradient(
    91deg,
    #028b20,
    #aaaaa9,
    #6e6e6d,
    #383837,
    #000000
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
