// Стили навигации по актёрам и отзывам на странице фильма
@import '../../variables.module.scss';

.list {
  display: flex;
}
.info {
  color: #cdc7c7;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #cdc7c7;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--active {
    color: $base-color;
    // text-decoration: underline;
    font-weight: 500;

  }
}